cadsrbulkloader/conf/gov/nih/nci/ncicb/cadsr/bulkloader/schema/cadsr_iso11179.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:caDSR="http://www.ncicb.nih.gov/caDSR/schema/ISO11179" 
            xmlns:iso11179="http://www.cancergrid.org/schema/ISO11179"
            targetNamespace="http://www.ncicb.nih.gov/caDSR/schema/ISO11179" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.cancergrid.org/schema/ISO11179" schemaLocation="iso11179_updated.xsd" />

    <xs:element name="Administered_Item_List" type="caDSR:Administered_Item_List" />       
    <xs:complexType name="Administered_Item_List">
        <xs:complexContent>
            <xs:extension base="iso11179:Administered_Item_List">
                <xs:sequence>
                    <xs:element ref="caDSR:Value_Meaning_List" minOccurs="0" maxOccurs="1" />
                    <xs:element ref="caDSR:Concept_List" minOccurs="0" maxOccurs="1" />
                    <xs:element ref="caDSR:Classification_Scheme_Item_List" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Classification_Scheme_Item_List">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="caDSR:Classification_Scheme_Item" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="Concept_List"  type="caDSR:Concept_List"/>
    <xs:complexType name="Concept_List">
        <xs:sequence>
            <xs:element ref="caDSR:Concept" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="Value_Meaning_List">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="caDSR:Value_Meaning" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="Concept" type="caDSR:Concept" />
    <xs:complexType name="Concept">
        <xs:complexContent>
            <xs:extension base="iso11179:Administered_Item">
                <xs:attribute name="tagId" type="iso11179:Concept_Tag_Id" use="required" />
                <xs:attribute name="name" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Component_Concept" type="caDSR:Component_Concept" />
    <xs:complexType name="Component_Concept">
        <xs:attribute name="conRefId" type="iso11179:Concept_Tag_Id_Ref" use="required"/>
        <xs:attribute name="order" type="xs:integer" use="required" />
    </xs:complexType>
    
    <xs:element name="Component_Concept_List" type="caDSR:Component_Concept_List" />
    <xs:complexType name="Component_Concept_List">
        <xs:sequence>
            <xs:element ref="caDSR:Component_Concept" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="Concept_Derivation_Rule" type="caDSR:Concept_Derivation_Rule" />
    <xs:complexType name="Concept_Derivation_Rule">
        <xs:complexContent>
            <xs:extension base="iso11179:Derivation_Rule">
                <xs:sequence>
                    <xs:element ref="caDSR:Component_Concept_List" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Object_Class" type="caDSR:Object_Class" substitutionGroup="iso11179:Object_Class"/>
    <xs:complexType name="Object_Class">
        <xs:complexContent>
            <xs:extension base="iso11179:Object_Class">
                <xs:sequence>
                    <xs:element ref="caDSR:Concept_Derivation_Rule" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Property" type="caDSR:Property" substitutionGroup="iso11179:Property"/>
    <xs:complexType name="Property">
        <xs:complexContent>
            <xs:extension base="iso11179:Property">
                <xs:sequence>
                    <xs:element ref="caDSR:Concept_Derivation_Rule" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Conceptual_Domain" type="caDSR:Conceptual_Domain" abstract="true" substitutionGroup="iso11179:Conceptual_Domain"/>
    <xs:complexType name="Conceptual_Domain">
        <xs:complexContent>
            <xs:extension base="iso11179:Conceptual_Domain">
                <xs:sequence>
                    <xs:element ref="caDSR:Concept_Derivation_Rule" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Non_Enumerated_Conceptual_Domain" type="caDSR:Non_Enumerated_Conceptual_Domain" substitutionGroup="caDSR:Conceptual_Domain"/>
    <xs:complexType name="Non_Enumerated_Conceptual_Domain">
        <xs:complexContent>
            <xs:extension base="caDSR:Conceptual_Domain">
                <xs:sequence>
                    <xs:element name="non_enumerated_conceptual_domain_description" type="xs:string">
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="represented_by" type="iso11179:Value_Domain_Tag_Id_Ref" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Enumerated_Conceptual_Domain" type="caDSR:Enumerated_Conceptual_Domain" substitutionGroup="caDSR:Conceptual_Domain"/>
    <xs:complexType name="Enumerated_Conceptual_Domain">
        <xs:complexContent>
            <xs:extension base="caDSR:Conceptual_Domain">
                <xs:sequence>
                    <xs:element  name="Value_Meaning_Ref_List" maxOccurs="1" >
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="iso11179:Value_Meaning_Ref" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Value_Domain" type="caDSR:Value_Domain" abstract="true" substitutionGroup="iso11179:Value_Domain"/>
    <xs:complexType name="Value_Domain">
        <xs:complexContent>
            <xs:extension base="iso11179:Value_Domain">
                <xs:sequence>
                    <xs:element ref="caDSR:Concept_Derivation_Rule" minOccurs="0"/>
                    <xs:element ref="caDSR:Representation_Class" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Non_Enumerated_Value_Domain" type="caDSR:Non_Enumerated_Value_Domain" substitutionGroup="caDSR:Value_Domain"/>
    <xs:complexType name="Non_Enumerated_Value_Domain">
        <xs:annotation>
            <xs:documentation>A Value Domain may be expressed via a description or specification,
                such as a rule, a procedure, or a range (i.e., interval), rather than as an explicit
                set of Permissible Values. Such a Value Domain is call a Nonenumerated Value Domain.
                As a sub-type of Value Domain, a Non-enumerated Value Domain inherits the attributes
                and relationships of the former.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="caDSR:Value_Domain">
                <xs:sequence>
                    <xs:element name="non_enumerated_value_domain_description" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Enumerated_Value_Domain" type="caDSR:Enumerated_Value_Domain" substitutionGroup="caDSR:Value_Domain" />
    <xs:complexType name="Enumerated_Value_Domain">
        <xs:complexContent>
            <xs:extension base="caDSR:Value_Domain">
                <xs:sequence>
                    <xs:element name="Permissible_Value_List">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="iso11179:Permissible_Value" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <!--<xs:element name="containing" type="Permissible_Value" minOccurs="2" maxOccurs="unbounded"/>-->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Value_Meaning" type="caDSR:Value_Meaning" />
    <xs:complexType name="Value_Meaning">
        <xs:complexContent>
            <xs:extension base="iso11179:Administered_Item">
                <xs:sequence>
                    <xs:element name="value_meaning_begin_date" type="xs:date"/>
                    <xs:element name="value_meaning_description" type="xs:string" minOccurs="0" />
                    <xs:element name="value_meaning_identifier" type="xs:string"/>
                    <xs:element name="value_meaning_end_date" type="xs:date" minOccurs="0"/>
                    <xs:element ref="caDSR:Concept_Derivation_Rule" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="tagId" type="iso11179:Value_Meaning_Tag_Id" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Classification_Scheme_Item" type="caDSR:Classification_Scheme_Item" />
    <xs:complexType name="Classification_Scheme_Item">
        <xs:complexContent>
            <xs:extension base="iso11179:Administered_Item">
                <xs:sequence>
                    <xs:element name="classification_scheme_item_type_name" type="xs:string" minOccurs="0" />
                    <xs:element name="classification_scheme_item_value" type="xs:string" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="tagId" type="iso11179:Classification_Scheme_Item_Tag_Id" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="Representation_Class" type="caDSR:Representation_Class" />
    <xs:complexType name="Representation_Class">
        <xs:complexContent>
            <xs:extension base="iso11179:Representation_Class">
                <xs:sequence>
                    <xs:element ref="caDSR:Concept_Derivation_Rule"></xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>